<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitTests.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>PutYourClientIdHere</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>PutYourClientSecretHere</value>
            </setting>
        </UnitTests.Properties.Settings>
    </applicationSettings>
</configuration>